@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-manrope: var(--font-manrope);
  --font-abeezee: var(--font-abeezee);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* CSS-клас для skewX */
.skew-slice {
  transform: skewX(-20deg);
  margin-left: -2px;
  position: relative;
  flex: 1;
  overflow: hidden;
}

/* Повертаємо зображення у нормальний вигляд */
.skew-reset {
  transform: skewX(20deg);
}


.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
